@font-face {
  font-family: "MS33558";
  src: url("docs/MS33558.ttf") format("woff"),
       url("docs/MS33558.ttf") format("opentype"),
       url("docs/MS33558.ttf") format("truetype");
}

body {
  background-color: rgba(0, 1, 0, 0.9);
}

h1 {
  text-align: center;
  font-size: 16px;
  color: #6f7a6e;
  font-family: "MS33558";
  margin-top: 10;
}

.image {
  display: inline-block;
  margin-left: 50%;
  transform: translateX(-50%);
  max-width: auto;
  max-height: 900px;
}

#email {
  text-align: center;
}

#gmail {
  color: #6f7a6e;
  font-size: 22px;
  font-family: "MS33558";

}
