@font-face {
  font-family: "ms-33558";
  src: url("https://candyfonts.com/wp-data/2019/08/19/81891/MS33558.ttf") format("woff"),
    url("https://candyfonts.com/wp-data/2019/08/19/81891/MS33558.ttf") format("opentype"),
    url("https://candyfonts.com/wp-data/2019/08/19/81891/MS33558.ttf") format("truetype");
}

body {
  background-color: rgba(0, 1, 0, 0.9);
}

h1 {
  text-align: center;
  font-size: 16px;
  color: #6f7a6e;
  font-family: 'JetBrains Mono', monospace;
  margin-top: 10;
}

.image {
  display: inline-block;
  margin-left: 50%;
  transform: translateX(-50%);
  max-width: auto;
  max-height: 900px;
}

#email {
  text-align: center;
}

#gmail {
  color: #6f7a6e;
  font-size: 22px;
  font-family: "ms-33558";

}
