@font-face {
    font-family: 'ms_33558regular';
    src: url('ms33558-webfont.woff2') format('woff2'),
         url('ms33558-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;

}

body {
  background-color: rgba(0, 2, 0, 0.9);
}

p {
  margin-top: 50px;
}

h1 {
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  color: #6f7a6e;
  font-family: "ms_33558regular";
  margin-top: 10;
}

.image {
  display: inline-block;
  margin-left: 50%;
  transform: translateX(-50%);
  max-width: auto;
  max-height: 900px;
}

#email {
  text-align: center;
}

#contact {
  color: #6f7a6e;
  font-size: 22px;
  font-family: "ms_33558regular";
  text-decoration: none;
}

#morse {
  color: #6f7a6e;
  font-size: 16px;
  font-family: "ms_33558regular";
  text-decoration: none;
  margin-top: 10;
}
